langchain
wikipedia
langchain-community
langchain-openai
langchain-gemini
langchain-anthropic
python-dotenv
pydantic
google-generativeai
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
